syntax: glob
*.pyc
*.svn
*.leo_shadow
*.leo
*~
*.fo
*.pdf
*.e4*
*.egg-info/
.metadata
.project
.pydevproject
.settings
.idea
.projectile
.vscode
flit_data
doc/api
doc/html
doc/index.rst
doc/_build
run_vitables.py
MANIFEST
TAGS
Thumbs.db
vitables/htmldocs

build

dist
