include *.txt VERSION LICENSE.html
recursive-include unixapp vitables.desktop vitables.svg
recursive-include doc Makefile usersguide.xml fop_conf.xml
recursive-include doc/images *.png *.svg
recursive-include examples *.h5 scripts/*.py
recursive-include macosxapp *
include scripts/vitables
recursive-include vitables/* *.ui
recursive-include vitables/icons *.* */*.*
exclude setup.cfg 
