include *.txt VERSION LICENSE.html
recursive-include unixapp vitables.desktop vitables.svgz
recursive-include doc Makefile usersguide.xml usersguide.pdf
recursive-include doc/images *.png
recursive-include examples *.h5 scripts/*.py
recursive-include macosxapp *
include scripts/vitables

exclude setup.cfg 
