/*
* Licensed to the Apache Software Foundation (ASF) under one or more
* contributor license agreements.  See the NOTICE file distributed with
* this work for additional information regarding copyright ownership.
* The ASF licenses this file to You under the Apache License, Version 2.0
* (the "License"); you may not use this file except in compliance with
* the License.  You may obtain a copy of the License at
*
*     http://www.apache.org/licenses/LICENSE-2.0
*
* Unless required by applicable law or agreed to in writing, software
* distributed under the License is distributed on an "AS IS" BASIS,
* WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
* See the License for the specific language governing permissions and
* limitations under the License.
*/
/************************************************************************
 * Apache Forrest
 * Skin: Minimalistic
 * Author: Diwaker Gupta <diwakergupta AT gmail DOT com>
 *
 * Notes:
 * =====
 * The colors used have been picked to taste from the Ubuntu, KDE and 
 * GNOME color palettes.
 * This skin uses relative positioning for the menu on the left, and the
 * floating text for the alternative format icons on the right
 ***********************************************************************/

/* header */
#header {
    background: #ffffff;
    border-bottom: thick solid #002b3d;
}

/* tabs */
#nav-main-hook {
    background: #ffffff;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-transform: lowercase;
    font-family: sans-serif;
    max-width: 90%;
}

#nav-main li { 
    display: inline;
    padding: 0 1em 0 1em;
}

#nav-main li a {
    font-weight: bold;
}

#nav-main li a:hover {
    text-decoration: underline;
}

#nav-main li a.base-selected:before {
    content: "[ ";
}

#nav-main li a.base-selected:after {
    content: " ]";
}

/* menu */
#leftbar {
    width: 25%;
    float: left;
}

#nav-section {
    background: #eae8e3;
    border: thin dashed #565248;
    margin-bottom: 10px;
}

#nav-section ul {
    list-style: none;
    padding-left: 20px;
}

#nav-section li.pagegroup ul {
    list-style: none;
}

.menupagetitle {
    color: #013396;
    display: inline;
    font-weight: bold;
}

.menupagetitle:before {
    content: "[ ";
}

.menupagetitle:after {
    content: " ]";
}

/* The actual content */
#content {
    margin-left: 25%;
    padding: 0 20px 0 20px;
}

/* footer */
#footer {
    text-align: center;
    font-style: italic;
    font-size: 10px;
    background: #314e6c;
    color: #ffffff;
    padding: 2px;
    clear: both;
}

#footer a {
    color: #9db8d2;
}

/* note */
.note {
    border: 2px solid #013397;
    background: #b3d3fd;
    padding: 4px;
    margin: 4px;
}

.note .label {
    font-weight: bold;
    text-decoration: underline;
    font-size: large;
    text-align: center;
    padding-bottom: 2px;
}

/* warning */
.warning {
    border: 2px solid #980101;
    background: #f44800;
    padding: 4px;
    margin: 4px;
}

.warning .label {
    font-weight: bold;
    text-decoration: underline;
    font-size: large;
    text-align: center;
    padding-bottom: 2px;
}

/* link to alternate formats */
#export-link {
    text-align: right;
    display: inline;
    float: right;
}

/* search box */
#search-input {
    padding-left: 10px;
    padding-top: 10px;
    border-top: 4px groove #bab5ab;
}

#search-input form input {
    width: 90%;
}

div.searchbox-input form input {
    display: block;
}

/* header */
#branding-tagline-name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    text-transform: lowercase;
    background: #314e6c;
    color: #ffffff;
    padding-top: 10px;
}

#branding-tagline-tagline {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: lowercase;
    background: #314e6c;
    color: #ffffff;
    padding-bottom: 10px;
    border-bottom: thick solid #002b3d;
}

/* abstract */

div.abstract {
    font-style: italic;
}

/* container */
#container {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    border: thin solid #565248;
    background: #ffffff;
}

/* page */
#page {
    padding: 10px;
}

/* HTML elements */
a {
    color: #013397;
    text-decoration: none;
    font-weight: bold;
}

a:visited {
    font-weight: normal;
}

a:hover {
    text-decoration: underline;
}

body {
    color: #000000;
    font-family: sans-serif;
    background: #eae8e3;
    font-size: 12px;
}

pre {
    background: #eae8e3;
    border: thin dashed #565248;
    font-family: monospace;
    padding-top: 10px;
}

img {
    border: 0;
}

h1 {
    font-size: 18px;
    margin: 4px 0 4px 0;
}

h2 {
    font-size: 16px;
    margin: 4px 0 4px 0;
}

h3 {
    font-size: 14px;
    margin: 4px 0 4px 0
}